body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url("../media/img/background.jpg");
  background-size: cover;
  height: 100%;
  min-width: 957px;
  min-height: 624px;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left-panel {
  width: 20%;
  padding: 10px;
  justify-content: flex-start;
}

.Fade {
  position: absolute;
  background-color: black;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  height: 50%;
  width: 100%;
  top: 50%;
}

.toCenter {
  text-align: center;
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.nav-list {
  list-style: none;
  gap: 10px;
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: inline-block;
  margin: 0 10px;
}

.login-button {
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.signup-button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
}

.WhiteGaugeborder {
  position: absolute;

  height: 20px;
  width: 20%;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 0px 0px 0px 3px white inset;
}

.WhiteGauge {
  height: 20px;
  width: 20%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 25px;
  margin-right: 25px;
  overflow: hidden;
}

.GreenGauge {
  height: 14px;
  margin-left: 3px;
  margin-right: 3px;
  width: "{filled}";
  background-color: #3a746a;
  border-radius: 15px;
}

.OpSqure {
  position: absolute;
  height: 75%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.center-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toRow {
  flex-direction: row;
}

.bigTimerRight {
  font-size: 40px;
  margin-bottom: 0%;
}

.smalltimezone {
  font-size: 10px;
}

.WhiteText {
  color: white;
}

.Tocolumn {
  display: flex;
  flex-direction: column;
}

.Realtime {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 0px 0px 10px;
  right: 0px;
  top: 13%;
  width: 23%;
  height: 18%;
  overflow: hidden;
}

.Realtime-container {
  text-align: right;
  margin-right: 12%;
  margin-top: 5px;
}

.Musicplayer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 0px 0px 10px;
  right: 0px;
  top: 32%;
  width: 23%;
  height: 18%;
  overflow: hidden;
}

.Controller {
  position: absolute;
  justify-content: space-between;
  height: 7%;
  width: 40%;
  bottom: 2.5%;
  left: 50%;
  transform: translate(-50%);
}

.Controller-left {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 100%;
  width: 65%;
  left: 0%;
  justify-content: space-around;
}

.Controller-right {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 100%;
  width: 30%;
  right: 0%;
  justify-content: space-around;
}

.Controller-right ul {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  padding: 0%;
  margin-top: 7px;
}

.Controller-right li {
  cursor: pointer;
  list-style: none;
}

.Controller-right ul li .icon img {
  width: 40px;
  height: 40px;
  padding-left: auto;
  padding-right: auto;
}

.Controller-left .ChangePageContent ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0%;
  margin-top: 3%;
}

.Controller-left .ChangePageContent ul li {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.Controller-left .ChangePageContent ul li img {
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.Musicplayer .Musicplayer-container .musiccover {
  height: 100%;
}

.Musicplayer .Musicplayer-container .musiccover img {
  display: flex;
  position: relative;
  height: 100px;
  left: 6%;
  top: 10%;
}

.Musicplayer .Musicplayer-container .musicinfo p {
  margin: 0%;
}

.Musicplayer .Musicplayer-container .musicinfo h2 {
  margin: 0%;
  font-weight: 300;
}

.Musicplayer .Musicplayer-container .musicinfo {
  position: absolute;
  top: 5%;
  margin-left: 40%;
  margin-right: 40px;
  font-size: smaller;
  overflow: hidden;
}

.Musicplayer .Musicplayer-container {
  text-align: left;
  height: 100%;
}

.musicinfo .owner {
  font-size: 10px;
  text-align: end;
}

.audioProcess {
  background-color: white;
  height: 5px;
  width: 100%;
  border-radius: 10px;
}

.Processin {
  height: 5px;
  width: 0%;
  background-color: #3a746a;
  border-radius: 10px;
  position: absolute;
}

.canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #a3a3a3, #2c2c2c);
}

.fit-screendo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.AudTimer {
  font-size: 10px;
}

.Controller .Controller-left .SepLine {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.Controller .Controller-left .SepLine1 {
  border-radius: 10px;
  background-color: white;
  height: 85%;
  width: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.Controller .Controller-left .SepLine2 {
  border-radius: 10px;
  background-color: white;
  height: 85%;
  width: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.Controller .Controller-left .SepLine3 {
  border-radius: 10px;
  background-color: white;
  height: 85%;
  width: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.ChangePageContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.AudTimer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.Controller-left .ChangePageContent ul li:nth-child(1).active .Changer {
  position: absolute;
  background-color: white;
  width: 23.5%;
  height: 85%;
  top: 7.5%;
  border-radius: 10px 0px 0px 10px;
  left: 1.5%;
  transition: 0.3s;
}

.Controller-left .ChangePageContent ul li:nth-child(2).active .Changer {
  position: absolute;
  background-color: white;
  width: 25%;
  height: 85%;
  top: 7.5%;
  transition: 0.3s;
}

.Controller-left .ChangePageContent ul li:nth-child(3).active .Changer {
  position: absolute;
  background-color: white;
  width: 25%;
  height: 85%;
  top: 7.5%;
  transition: 0.3s;
}

.Controller-left .ChangePageContent ul li:nth-child(4).active .Changer {
  position: absolute;
  background-color: white;
  width: 23.5%;
  height: 85%;
  top: 7.5%;
  border-radius: 0px 10px 10px 0px;
  right: 1.5%;
  transition: 0.3s;
}

.EditTitle {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 1485px) {
  .musiccover {
    display: none;
  }

  .Musicplayer .Musicplayer-container .musicinfo {
    margin-top: 3%;
    margin-left: 10%;
  }
}

@media (max-width: 1194px) {
  .Musicplayer .Musicplayer-container .musicinfo .Nowplay {
    display: none;
  }
}

.Question-container {
  width: 90%;
  height: 320px;
  margin: auto;
  margin-bottom: 3%;
  overflow-y: auto;
  border: 2px solid white;
  border-radius: 10px;
}

.Question-container .PerOneQuestion {
  width: inherit;
  padding: 2%;
  min-height: 300px;
  border-bottom: 4px dotted white;
  margin-left: 2%;
}

.Question-container .PerOneQuestion .questionNumber {
  display: flex;
  color: white;
  font-size: smaller;
}
.Question-container .PerOneQuestion .questionDetail {
  display: flex;
  color: white;
  font-size: x-large;
}

.Question-container .PerOneQuestion .choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  list-style: none;
  min-height: 40px;
  border-radius: 10px;
  border: 2px solid white;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
}

.choice .thisisradio {
  display: none;
}

.choice input.thisisradio ~ .radiomark {
  cursor: pointer;
  margin-left: 2%;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100%;
  transition: 0.2s;
}

.choice input.thisisradio:checked ~ .radiomark {
  cursor: pointer;
  margin-left: 2%;
  height: 16px;
  width: 16px;
  background-color: #3a746a;
  border: 4px solid white;
  border-radius: 100%;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: 0.8s;
}

.onlyquestionandanswer {
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar-thumb:hover {
  background: #01776b;
  transition: 0.8s;
}

.questionTitle {
  display: flex;
  margin-top: 3%;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 90%;
}

::placeholder {
  color: white;
}

.choiceinput {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;

  transition: 0.2s;
}

.submit-btn {
  padding: 10px 20px;
  border-radius: 10px;
  background: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.submit-btn:hover {
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
  color: black;
  cursor: pointer;
  border: 1px solid white;
}

.below-btn-container{
  justify-content: space-evenly;
  display: flex;
}


.cr-ans-ctn h5{
  margin: 5px;
}

.cr-ans-ctn{
  display: flex;
}

.Topper-content{
  width: 100%;
  display: flex;
}

.Topper-content-left{
  width: 80%;
}


.delete-btn{
  padding: 10%;
  color: white;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
  margin: 2%;
}

.edit-btn{
  margin: 5%;
  padding: 10%;
  padding-left: 21%;
  padding-right: 21%;
  color: white;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover{

  background-color: red;
  transition: 0.2s;

}

.edit-btn:hover{

  background-color: #01776b;
  transition: 0.2s;
}

.qiz-tpc{
  margin-bottom: 0%;
}

.btn-container{
  margin:0%;
  display: flex;
  justify-content: right;
  margin-right: 5%;

}
.delete-all-btn{
  margin: 1%;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}

.do-quiz-btn{
  margin: 1%;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}

.do-quiz-btn button{
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete-all-btn:hover{
  background-color: red;
  transition: 0.2s;
}

.do-quiz-btn:hover{
  background-color: black;
  transition: 0.2s;
}