/* This section styles the main container for the content */
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 800px;
    height: 630px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.60);
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.25), 5px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
}

/* This section styles the header within the container */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
}

/* This styels the text within the header */
.text {
    color: #eaeaea;
    font-size: 48px;
    font-weight: 700;
}

/* This section styles the input fields */
.inputs {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* This stles each individual input field */
.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 750px;
    height: 63px;
    background: #eaeaea;
    border-radius: 10px;
}

/* This styles the icon within the input field*/
.input img {
    margin: 0px 30px;
}

/* This styles the text input within the input field */
.input input {
    height: 70px;
    width: 550px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}

/* This styles the "forgot password" text */
.forgot-password {
    padding-left: 250px;
    margin-top: 27px;
    color: #eaeaea;
    font-size: 18px;
    font-weight: 400;
}

/* This styles the "span" element within the "forgot password" section */
.forgot-password .span {
    color: green;
}

/* This section styles the container for the submit button */
.submit-container {
    margin-top: 5%;
    display: flex;
    width: 100%;
}

/* This styles the submit button */
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.60);
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.25), 5px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    border-radius: 10px;
    font-size: 19px;
    cursor: pointer;
}

/* This section styles the "Back" label */
.gogo {
    padding-left: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #eaeaea;
    font-size: 17px;
}

/* This section styles the body of the document */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
    ,sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url("../Components/img/background.jpg"); /* This sets the background image */
    background-size: cover; /* This makes sure the background image covers the entires screen */
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
}

.Alerto{
    width: 40%;
    height: 7%;
    background: rgba(72, 131, 94, 0.6);
    border-radius: 10px;
    display: none;
    position: absolute;
    color:  white;
    top:18.5%;
    left: 50%;
    transform: translate(-50%);
    padding-left: 3%;
    padding-right: 3%;
}

.Alerto p{
    text-align: center;
    font-weight: bold;
}

.sign-up-btn{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.sign-up-btn:hover{
    color: black;
    background-color: white;
    transition: 0.5s;}

.WhiteText{
    color: white;
    text-decoration: none;
}

