<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/add-quiz.css}">

    <title>Study Smartly</title>

</head>

<body>

    <div class='Fade'> </div>
    <div class="fit-screendo">

        <canvas id="rainCanvas"></canvas>
        <audio id="rainSound" loop>
            <source th:src="@{/media/audio/578599__auwenngebleau__slow-rain.m4a}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>
    <span class="left-panel">
        <nav class="navbar">
            <ul className="nav-list">

                <li class="nav-item" th:href="@{/logout}">
                    <a th:href="@{/logout}">
                        <button class="login-button" id="loginButton">Log out</button>
                    </a>
                </li>

            </ul>
        </nav>
    </span>
    <div class="toCenter">
        <div class="OpSqure">
            <h1 class="WhiteText" th:text="'Quiz topic: ' + ${topicName}"></h1>
            <div class="Question-container">

                <form class="PerOneQuestion" id="forsubform"
                    th:action="@{/topics/{id}/{question_id}/edit/(id=${topic_id}, question_id=${editQuestion.id})}"
                    th:object="${editQuestion}" method="post">
                    <!-- Your form fields go here -->
                    <!--
                    <div class="questionNumber">This is Question number.</div>
                    -->
                    <input class="questionTitle" placeholder="Add question" th:field="*{questionTitle}"
                        required></input>
                    <ul>
                        <!-- class choice is div and input display is none that mean input can't be clicked but still can checked-->
                        <label class="choice">
                            <input class="thisisradio" type="radio" th:field="*{correctAnswer}" name="choice"
                                th:value="1">
                            <div class="radiomark"></div>
                            <input class="choiceinput" type="text" placeholder="choice 1" th:field="*{choice1}"
                                required>
                        </label>

                        <label class="choice">
                            <input class="thisisradio" type="radio" name="choice" th:field="*{correctAnswer}"
                                th:value="2">
                            <div class="radiomark"></div>
                            <input class="choiceinput" type="text" placeholder="choice 2" th:field="*{choice2}"
                                required>
                        </label>

                        <label class="choice">
                            <input class="thisisradio" type="radio" name="choice" th:field="*{correctAnswer}"
                                th:value="3">
                            <div class="radiomark"></div>
                            <input class="choiceinput" type="text" placeholder="choice 3" th:field="*{choice3}"
                                required>
                        </label>

                        <label class="choice">
                            <input class="thisisradio" type="radio" name="choice" th:field="*{correctAnswer}"
                                th:value="4">
                            <div class="radiomark"></div>
                            <input class="choiceinput" type="text" placeholder="choice 4" th:field="*{choice4}"
                                required>
                        </label>


                    </ul>

                    <div class="below-btn-container">
                        <!-- <button id="alertsubconsole" class="submit-btn" type="submit" onclick="justSubmitIT('forsubform')">Submit</button> -->
                        <button id="alertsubconsole" class="submit-btn" type="submit">Submit</button>
                        <a class="WhiteText submit-btn" style="text-decoration: none;"
                            th:href="@{/topics/{id}(id=${topic_id})}">Back</a>
                </form>

            </div>

        </div>

    </div>


    </div>

    <div class="Realtime">
        <div class="Realtime-container">
            <div class="WhiteText bigTimerRight" id="rTime"></div>
            <div class="WhiteText smalltimezone" id="Timezone"></div>
            <div class="WhiteText" id="dmy"></div>
        </div>
    </div>
    <div class="Musicplayer">
        <div class="Musicplayer-container">

            <div class="musicinfo WhiteText">
                <p class="Nowplay">Now playing</p>
                <h2 id="SongName">Welcome School lofi mix</h2>
                <p class="owner" id="OwnName">Blue Archive</p>
                <audio id="audio">
                    <source id="musicSource" th:src="@{/media/audio/WelcomeSchool.mp3}" type="audio/mpeg"
                        allow="autoplay">
                </audio>
                <div class="audioProcess">
                    <div class="Processin" id="musicprocess"></div>
                </div>
                <div class="AudTimer">
                    <div class="AudProc WhiteText" id="AudProcess"> 00:00</div>
                    <div class="AudLen WhiteText" id="AudLength"> 00:00</div>
                </div>
            </div>
            <div class="musiccover">
                <img th:src="@{/media/img/ShirokoTerror.png}" alt="Blue Archive" id="MusicCover" draggable="false">
            </div>
        </div>
    </div>

    <div class="Controller center-container">
        <div class="Controller-left">

            <div class="ChangePageContent">
                <ul>
                    <li class="list ">
                        <div class="Changer"></div>
                        <a th:href="@{/}">

                            <img type="หน้าเดิม" th:src="@{/media/ico/WhiteTimer.png}" id="TimerPage" draggable="false">
                        </a>
                    </li>

                    <li class="list">
                        <div class="Changer"></div>
                        <a th:href="@{/todolists}">

                            <img type="หน้าTodo" th:src="@{/media/ico/WhiteTodo.png}" id="TodoPage" draggable="false">
                        </a>

                    </li>
                    <li class="list active">
                        <div class="Changer"></div>
                        <a th:href="@{/topics}">

                            <img type="หน้าQuiz" th:src="@{/media/ico/GreenQuiz.png}" id="QuizPage" draggable="false">
                        </a>
                    </li>
                    <li class="list">
                        <div class="Changer"></div>
                        <a th:href="@{/history}">

                            <img type="หน้าStat" th:src="@{/media/ico/WhiteStat.png}" id="StatPage" draggable="false">
                        </a>
                    </li>

                </ul>
            </div>


            <div class="SepLine">
                <div class="SepLine1"></div>
                <div class="SepLine2"></div>
                <div class="SepLine3"></div>
            </div>

        </div>
        <div class="Controller-right">
            <ul>
                <li>
                    <span class="icon" onclick="toggleRain()">
                        <img th:src="@{/media/ico/animation-on.png}" id="Anima" draggable="false">

                    </span>
                </li>
                <li>
                    <span class="icon" id="audioa">
                        <img th:src="@{/media/ico/audio-off.png}" id="audioimg" draggable="false">
                    </span>

                </li>
            </ul>

        </div>
    </div>




    <script th:src="@{/Components/music/Musicplayer.js}"></script>
    <script th:src="@{/Components/realtime/Realtime.js}"></script>
    <script th:src="@{/Components/rain/rain.js}"></script>
    <script th:src="@{/Components/navigator-bar/Navigator-Bar.js}"></script>
    <script th:src="@{/Components/account/account.js}"></script>
    <script th:src="@{/js/submitoutsideform.js}"></script>
</body>

</html>